$main-color = #2a2f4a
$hover-color = #9bf1ff
$main-font = "Source Sans Pro"
$font-color = #000

body
  font-family $main-font

h1, h2, h3
  color $font-color

h1
  font-size 2em
  border-bottom 2px solid white
  padding-bottom 30px

h2
  font-size 1.5em
  border-bottom 2px solid white
  padding-bottom 10px

h3
  font-size 0.7em
  font-weight 600
  letter-spacing 0.25em
  text-transform uppercase
